<div class="card"><p> <%= @question  %> </p>
<p><%= @you %></p></div>


<div class="card"><p><%= @answer %></p>
<p><%= @your_coach %></p></div>

<div><%=link_to("Ask a new question", ask_path)%></div>